@import "tailwindcss";

/* Preline */
@import "preline/variants.css";

/* Plugins */
@plugin "@tailwindcss/forms";

/* (Opcional) estilos del datepicker de Preline */
@import "preline/src/plugins/datepicker/styles.css";

/* Fix: Asegura que el datepicker sea visible sobre los layouts de Preline */
.vc {
  z-index: 9999 !important;
}
